<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 완료</title>
</head>
<body>
    <img src="" alt="">
    <%= ID.ID %>님환영합니다.
</body>
</html>