@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}
.App {
  text-align: center;
  font-family: 'TheJamsil5Bold';
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

label {
  padding: 0.5rem;
}
select {
  padding: 0.3rem;
  margin-bottom: 0.3rem;
}
input {
  padding: 0.3rem;
}
.contentArea {
  width: 200px;
  margin: auto;
}
.eventHandling {
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}
